@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-xl-3 row ">
                        <label class="col-sm-3 col-form-label" style="text-align: right">姓名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="PatientName" name="PatientName" value="" />
                        </div>
                    </div>
                    <div class="col-xl-3 row ">
                        <label class="col-sm-3 col-form-label" style="text-align: right">电话号码</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" value="" />
                        </div>
                    </div>
                    <div class="col-xl-3 row ">
                        <label class="col-sm-3 col-form-label" style="text-align: right">开始时间</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="StartDate" name="StartDate" value="" />
                        </div>
                    </div>
                    <div class="col-xl-3 row ">
                        <label class="col-sm-3 col-form-label" style="text-align: right">结束时间</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="EndDate" name="EndDate" value="" />
                        </div>
                    </div>
                   
                    <div class="col-xl-3 row ">
                        <label class="col-sm-3 col-form-label" style="text-align: right">部门</label>
                        <div class="col-sm-9">
                            <select type="text" class="form-control" id="DepartmentId" name="DepartmentId" value="">
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 row ">
                        <label class="col-sm-3 col-form-label" style="text-align: right">状态</label>
                        <div class="col-sm-9">
                            <select type="text" class="form-control" id="Status" name="Status" value="">
                            </select>
                        </div>
                    </div>



                    <div class="col-xl-3 row ">
                        <button class="btn btn-google" onclick="Search(1)">搜索</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="listTable" class="table">
                        <thead>
                            <tr>
                                <th>预约号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>电话号码</th>
                                <th>身份证号</th>
                                <th>时间</th>
                                <th>医生</th>
                                <th>科室</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="listBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-between">
        <div>
        </div>
        <div id="page">

        </div>
    </div>

</div>

<script id="listHtml" type="text/html">
    {{each list value index}}
    <tr>
        <td>{{value.appointmentNo}}</td>
        <td>{{value.patientName}}</td>
        <td>{{value.gender}}</td>
        <td>{{value.phoneNumber}}</td>
        <td>{{value.identityId}}</td>
        <td>{{value.appointmentDate}}</td>
        <td>{{value.doctorName}}</td>
        <td>{{value.department}}</td>
        <td>{{value.statusDesc}}</td>

        <td>
            {{if value.status==1}}
            <button class="btn btn-primary" onclick="ChangeStatus('{{value.id}}','2')">报道</button>
            {{/if}}
            
            {{if value.status==2}}
            <button class="btn btn-primary" onclick="ChangeStatus('{{value.id}}','4')">就诊中</button>
            {{/if}}
            <button class="btn btn-primary">编辑</button>
            <a href="/PA/AppointmentDetail?appointmentId={{value.id}}" class="btn btn-primary">详情</a>
            <a href="/Doctor/DoctorWork?appointmentId={{value.id}}" class="btn btn-primary">就诊</a>

            <button class="btn btn-primary" onclick="Cancel('{{value.id}}')">取消</button>
        </td>
    </tr>

    {{/each}}
</script>
@section Scripts
{
    <script src="~/static/Doctor/AppointmentList.js"></script>

}