
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .SeletctCard {
        height: 80%;
        margin: 10px;
        cursor: pointer
    }
</style>
<div class="row justify-content-center col-12">
    <div class="card col-3 SeletctCard justify-content-center text-center align-items-center" onclick="javascript:window.open('/PatientFunction/DoctorList')">
        <svg t="1618043899699" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1353" width="200" height="200"><path d="M499.3 766c30.9 0 56-25.1 56-56s-25.1-56-56-56-56 25.1-56 56 25.1 56 56 56zM279.4 766c30.9 0 56-25.1 56-56s-25.1-56-56-56-56 25.1-56 56 25.1 56 56 56zM724.7 590.1c30.9 0 56-25.1 56-56 0-31-25.1-56-56-56s-56 25.1-56 56 25.1 56 56 56zM499.3 590.1c30.9 0 56-25.1 56-56 0-31-25.1-56-56-56s-56 25.1-56 56 25.1 56 56 56zM279.4 590.1c30.9 0 56-25.1 56-56 0-31-25.1-56-56-56s-56 25.1-56 56 25.1 56 56 56z" p-id="1354"></path><path d="M870.4 142.7H757.9v-11.2c0-18.5-15.1-33.6-33.6-33.6s-33.6 15.1-33.6 33.6v11.2H334.6v-11.2c0-18.5-15.1-33.6-33.6-33.6s-33.6 15.1-33.6 33.6v11.2H153.6c-49.5 0-89.6 40.1-89.6 89.6v604.8c0 49.5 40.1 89.6 89.6 89.6h716.8c49.5 0 89.6-40.1 89.6-89.6V232.3c0-49.4-40.1-89.6-89.6-89.6z m44 690.3c0 24.7-20.1 44.8-44.8 44.8H152.8c-24.7 0-44.8-20.1-44.8-44.8V362.6h806.4V833z m0.8-511.1H108.8v-89.6c0-24.7 20.1-44.8 44.8-44.8h113.8v11.2c0 18.5 15.1 33.6 33.6 33.6s33.6-15.1 33.6-33.6v-11.2h356.1v11.2c0 18.5 15.1 33.6 33.6 33.6s33.6-15.1 33.6-33.6v-11.2h112.5c24.7 0 44.8 20.1 44.8 44.8v89.6z" p-id="1355"></path></svg>
        线上预约
    </div>
    <div class="card col-3 SeletctCard justify-content-center text-center align-items-center">
        <svg t="1618044612628" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4038" width="200" height="200"><path d="M789.5 876h-553C161.2 876 100 814.8 100 739.5v-391c0-75.3 61.2-136.5 136.5-136.5h553c75.3 0 136.5 61.2 136.5 136.5v391c0 75.3-61.2 136.5-136.5 136.5z m-553-604c-42.2 0-76.5 34.3-76.5 76.5v391c0 42.2 34.3 76.5 76.5 76.5h553c42.2 0 76.5-34.3 76.5-76.5v-391c0-42.2-34.3-76.5-76.5-76.5h-553z" fill="#2c2c2c" p-id="4039"></path><path d="M640 574H384c-16.6 0-30-13.4-30-30s13.4-30 30-30h256c16.6 0 30 13.4 30 30s-13.4 30-30 30z" fill="#2c2c2c" p-id="4040"></path><path d="M512 702c-16.6 0-30-13.4-30-30V416c0-16.6 13.4-30 30-30s30 13.4 30 30v256c0 16.6-13.4 30-30 30z" fill="#2c2c2c" p-id="4041"></path><path d="M342 272c-16.6 0-30-13.4-30-30V128c0-16.6 13.4-30 30-30s30 13.4 30 30v114c0 16.6-13.4 30-30 30zM683 272c-16.6 0-30-13.4-30-30V128c0-16.6 13.4-30 30-30s30 13.4 30 30v114c0 16.6-13.4 30-30 30z" fill="#2c2c2c" p-id="4042"></path></svg>
        线上问诊

    </div>

    <div class="card col-3 SeletctCard justify-content-center text-center align-items-center" onclick="javascript:window.open('/Account/PatientDetail')">
        <svg t="1618044123522" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3024" width="200" height="200"><path d="M572.416 551.15776c0.8192 0.26624 1.69984 0.45056 2.72384 0.69632 34.4064 8.0896 66.80576 22.8352 95.88736 43.58144 0.7168 0.45056 1.41312 0.59392 2.17088 0.96256 10.42432 7.5776 20.41856 15.54432 29.83936 24.63744 9.56416 9.09312 25.00608 9.09312 34.57024-0.14336 9.44128-9.09312 9.44128-23.94112-0.12288-33.15712-34.83648-33.54624-76.55424-58.0608-121.6512-73.3184 61.50144-35.77856 102.95296-100.70016 102.95296-175.0016-0.06144-112.66048-95.15008-204.32896-212.04992-204.32896-116.87936 0-212.02944 91.66848-212.02944 204.32896 0 74.99776 42.25024 140.47232 104.93952 176.10752-124.06784 43.17184-213.11488 157.4912-213.11488 291.67616 0 3.42016 0.83968 6.61504 2.17088 9.48224 3.56352 8.54016 12.26752 14.72512 22.528 14.72512 13.4144 0 24.24832-10.4448 24.24832-23.36768 0-145.44896 122.7776-263.90528 273.79712-264.02816 1.57696 0 3.2768 0.12288 4.85376 0.12288 6.26688 0.14336 12.55424 0.4096 18.67776 0.96256 4.58752 0.26624 9.25696 0.96256 13.84448 1.51552 2.88768 0.26624 5.71392 0.69632 8.56064 1.2288C561.11104 548.864 566.84544 549.82656 572.416 551.15776zM506.75712 496.80384c-90.07104 0-163.4304-70.57408-163.4304-157.40928 0-86.69184 73.23648-157.40928 163.30752-157.40928 90.09152 0 163.30752 70.57408 163.30752 157.40928C669.92128 426.3936 596.82816 496.96768 506.75712 496.80384zM547.30752 667.25888c0 11.55072 9.74848 20.93056 21.79072 20.93056l251.02336 0c12.02176 0 21.79072-9.37984 21.79072-20.93056 0-11.5712-9.74848-20.93056-21.79072-20.93056L569.09824 646.32832C557.056 646.32832 547.30752 655.68768 547.30752 667.25888zM820.1216 717.5168 569.09824 717.5168c-12.02176 0-21.79072 9.37984-21.79072 20.93056s9.74848 20.93056 21.79072 20.93056l251.02336 0c12.02176 0 21.79072-9.37984 21.79072-20.93056S832.14336 717.5168 820.1216 717.5168zM820.1216 789.56544 569.09824 789.56544c-12.02176 0-21.79072 9.37984-21.79072 20.93056 0 11.55072 9.74848 20.93056 21.79072 20.93056l251.02336 0c12.02176 0 21.79072-9.37984 21.79072-20.93056C841.89184 798.94528 832.14336 789.56544 820.1216 789.56544z" p-id="3025"></path></svg>
        个人信息
    </div>
</div>




