
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- partial -->
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">用户管理</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-3 row ">
                        <label class="col-sm-3 col-form-label" style="text-align:right">姓名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-xl-3 row ">
                        <label class="col-sm-3 col-form-label" style="text-align:right">邮箱</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-xl-3 row ">
                        <label class="col-sm-3 col-form-label" style="text-align:right">电话</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-xl-3 row ">
                        <button class="btn btn-google" onclick="GetList(1)">搜索</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="listTable" class="table">
                        <thead>
                            <tr>
                                <th>账号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>电话</th>
                                <th>邮箱</th>
                                <th>身份证号</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="listBody">
                        </tbody>
                    </table>

                </div>

            </div>
            
        </div>

    </div>
    <div class="col-12 d-flex justify-content-between"  >
        <div>
            <button class="btn btn-google" onclick="ShowAddUserPage()">添加员工</button>
            <button class="btn btn-google" onclick="ShowBatchAddUserPage()">批量添加</button>
            <button class="btn btn-google" onclick="Export()" >导出</button>
        </div>
        <div id="page">

        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">添加员工</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">姓名:</label>
                        <input type="text" class="form-control" id="uname">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">性别:</label>
                        <select class="form-control" id="gender">
                            <option selected="selected" value="1">
                                男
                            </option>
                            
                            <option value="2">
                                女
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">电话:</label>
                        <input type="text" class="form-control" id="phone">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">邮箱:</label>
                        <textarea class="form-control" id="email"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">身份证号:</label>
                        <input type="text" class="form-control" id="identity">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="AddUser()">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="batchAddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">批量添加账户</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>上传文件 &nbsp;&nbsp;&nbsp;<a href ="~/file/批量添加账号模板.xlsx">点击下载模板</a></label>
                        <input type="file" name="batchFile" id="batchFile" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">上传</button>
                            </span>
                        </div>
                    </div>
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="BatchAddUser()">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">批量添加账户</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>选择角色</label>
                        <div class="input-group col-xs-12" id="roleDiv">
                            
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="AddRole()">确定</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/static/User/List.js"></script>
    <script type="text/javascript">
    </script>
}
<script id="listHtml" type="text/html">
    {{each list value index}}
    <tr>
        <td>{{value.userAccount}}</td>
        <td>{{value.userName}}</td>
        <td>{{value.genderDesc}}</td>
        <td>{{value.phoneNumber}}</td>
        <td>{{value.email}}</td>
        <td>{{value.userIdentity}}</td>
        <td>
            <button class="btn btn-primary" onclick="">详情</button>
            <button class="btn btn-primary" onclick="Delete()">编辑</button>
            <button class="btn btn-primary" onclick="ResetPassWord(1)">重置密码</button>
            <button class="btn btn-primary" onclick="OpenRoleModal('{{value.id}}')">分配角色</button>

        </td>
    </tr>

    {{/each}}
</script>

<script id="roleHtml" type="text/html">
    {{each result value index}}
        <input type="radio" name="role" value="{{value.roleId}}"/><label>{{value.name}}</label>

    {{/each}}
</script>


